---
layout: default
title: Kelly Riley&#039;s Online Classroom | Learner, teacher, reader, writer, gifted coordinator, ed tech geek, music ed evangelist
---
<!-- <ul> -->
  {% for post in paginator.posts limit:5 %}
  <br>
    <div class="card darkbg">
      <div class="card-header">
        <a class="text-dark" href="{{post.url}}"><h2 class="card-title">{{post.title}}</h2></a>
      </div>
      <div class="card-body">

        <!-- <h4 >Card title</h4> -->
        <p class="card-text">{{post.content}}</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
      <div class="card-footer">
      </div>
    </div>
  {% endfor %}
  <br>
  <hr>
  <!-- prev next buttons -->
  <div class="container">
    <!-- Pagination links -->
    <div class="pagination">
      <div class="card darkbg">
        <div class="card-body">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
              Previous
            </a>
          {% else %}
            <span class="previous">Previous</span>
          {% endif %}
        	&nbsp;-&nbsp;
          <span class="page_number ">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
          </span>
        	&nbsp;-&nbsp;
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% else %}
            <span class="next ">Next</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
