---
layout: default
---
<!-- <ul> -->
  {% for post in paginator.posts limit:5 %}
  <br>
    <div class="card darkbg">
      <div class="card-header">
        <a class="text-white" href="{{post.url}}"><h3 class="card-title">{{post.title}}</h3></a>
      </div>
      <div class="card-body">

        <!-- <h4 >Card title</h4> -->
        <p class="card-text">{{post.content}}</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>

    <!-- <li>

      <!-- <p>{{post.meta}}</p> -->
      <!-- <p>{{post.content}}</p>
    </li> -->
  {% endfor %}
  <br>
<!-- prev next buttons -->
<center>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</center>
