small,p,h1,h2,h3,h4,.btn{
  font-weight: 300!important;
}
a,li,blockquote{
  font-weight:200!important;
  /* color: #8731b9!important; */
}
.darkbg{
  background-color:#413677!important;
}
blockquote{
  margin: 2rem 0 1rem 0.2rem!important;
  border-left: 6px solid #424242;
  padding-left: 1.2rem;
  line-height: 1.75rem;
  color: #bbb;
}
body{
  /* padding:10px; */
  background-color:#222222!important;
  /*font-size:1.2em!important;*/
}
button.navbottom{
  display:none;
}
button.navtop{
  display:block;
}
.card{
  border-radius:.4em!important;
}
.card-body{
  background-color:#222222!important;
  overflow:hidden;
}
.col-6,.col-lg-4{
  margin-top:5px!important;
  margin-bottom:5px!important;
}
.container,.container-fluid{
  padding:0 4rem!important;
}
.current{
  background-color:blue;
}
#footer{
  margin:150px;
}
.gist{
  float:left;
  width:100%;
}
h1{
  margin-top:50px!important;
  margin-bottom:50px!important;
}
img{
  border-radius:.4em;
  margin:5px 15px 10px 0px;
  /* float:left; */
  max-width: 100%;
}
img.navbottom{
  display:none;
}
img.navtop{
  display:block;
  width:40px;
}
li{
  margin-top:10px;
  margin-bottom:10px;
  margin:10px 0px 10px 0px;
  padding:0px;
/*   list-style-type: none!important; */
  line-height: 1em;
}
p{
  margin-bottom: 2rem!important;
  margin-top: 2rem!important;
  text-indent: 0;
}
.PageNavigation {
  font-size: 14px;
  display: block;
  float:left;
  width: 100%;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
pre{
  /* background-color:#888;
  background-color:#343a40;
  background-color:#848a90; */
  background-color:#9a9a9a;
  border:1px solid #000;
  border-radius:.4em;
  margin:10px 10px 10px 0px;
  padding:15px 25px 15px 25px;
  display:inline-flex!important;
  /* width:100%; */
  max-width: 100%;
  overflow-x: scroll;
  margin-top: 0.5rem!important;
}
.recentPosts{
  line-height: 0.7rem;
  list-style-type: none!important;
  padding-bottom: 1rem;
  padding-inline-start: 0px;
}
.roundedimg{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.smaller{
  font-size:50%!important;
}
.text-eee{
  color:#eee;
}
.text-bababa{
  color:#bababa;
}
ul{
  padding-inline-start: 2rem;
  margin-bottom: 2rem!important;
}
ul.navtop{
  margin-left:auto!important;
  margin-right:0!important;
  margin-bottom: 0rem!important;
}
ul.navbottom{
  margin-left:0!important;
  margin-right:auto!important;
}
