a,small,p,h1,h2,h3,h4,.btn{
  font-weight: 100!important;
}
a{
  font-weight:100!important;
  /* color: #8731b9!important; */
}
.darkbg{
  background-color:#413677!important;
}
body{
  /* padding:10px; */
  background-color:#222222!important;
  fontsize:1.1em!important;
}
button.navbottom{
  display:none;
}
button.navtop{
  display:block;
}
.card{
  border-radius:.4em!important;
}
.card-body{
  background-color:#222222!important;
  overflow:hidden;
}
.col-6,.col-lg-4{
  margin-top:5px!important;
  margin-bottom:5px!important;
}
.current{
  background-color:blue;
}
#footer{
  margin:150px;
}
.gist{
  float:left;
  width:100%;
}
h1{
  margin-top:50px!important;
  margin-bottom:50px!important;
}
img{
  border-radius:.4em;
  margin:5px 15px 10px 0px;
  /* float:left; */
  max-width: 100%;
}
img.navbottom{
  display:none;
}
img.navtop{
  display:block;
  width:40px;
}
li{
  margin-top:10px;
  margin-bottom:10px;
  margin:10px 0px 10px 0px;
  padding:0px;
  list-style-type: none!important;
  line-height: 1em;
}
.PageNavigation {
  font-size: 14px;
  display: block;
  float:left;
  width: 100%;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
pre{
  /* background-color:#888;
  background-color:#343a40;
  background-color:#848a90; */
  background-color:#bababa;
  border:1px solid #000;
  border-radius:.4em;
  margin:10px 10px 10px 0px;
  padding:15px 25px 15px 25px;
  display:inline-flex!important;
  /* width:100%; */
  max-width: 100%;
  overflow-x: scroll;
}
.roundedimg{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.text-bababa{
  color:#bababa;
}
ul{
  padding-inline-start: 0px;
}
ul.navtop{
  margin-left:auto!important;
  margin-right:0!important;
}
ul.navbottom{
  margin-left:0!important;
  margin-right:auto!important;
}
