<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img class="{{include.navclass}}" src="{{site.baseurl}}/assets/ohiofilogov3-50x50.png" alt="ohiofi logo">
  </a>
  <button class="navbar-toggler {{include.navclass}}" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav {{include.navclass}} mt-2 mt-lg-0">
      {% if page.url == "/" %}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{{site.baseurl}}/index.html">
          <small>Home</small>
        </a>
      </li>
      {% if page.url == "/projects.html" %}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{{site.baseurl}}/projects.html">
          <small>Projects</small>
        </a>
      </li>
      {% if page.url == "/about.html" %}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{{site.baseurl}}/index.html">
          <small>About</small>
        </a>
      </li>
      {% if page.url == "/bros.html" %}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link " href="{{site.baseurl}}/bros.html">
          <small>Robo Bros</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="http://www.twitter.com/20hz20khz">
          <small>@20hz20khz</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="http://www.youtube.com/20hz20khz">
          <small>YouTube.com/20hz20khz</small>
        </a>
      </li>
    </ul>
  </div>
</nav>
