<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index, nofollow" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/bueno.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/styles.css">
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="description" content=""> -->
    <title>{% if page.title %}{{page.title}} | {% endif %}klsriley.com</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
<body>
  {% include nav.html %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2>{{page.title}}</h2>
        <br>
        {{content}}
      </div>
    </div>
    <br>
    <hr>
    <div class="PageNavigation float-left">
      <div class="card darkbg">
        <div class="card-body">
          {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          {% endif %}
          {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <br>
  &nbsp;
  <br>
  {% include footer.html %}
</body>
</html>
