<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/styles.css">
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="description" content=""> -->
    <title>{% if page.title %}{{page.title}} · {% endif %}OhioFi.com</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <!-- jQuery library
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
  </head>
<body class="text-eee pt-5">
  {% include nav.html navclass="navtop" %}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12 col-lg-10">
        {{content}}
      </div>
      <div class="col-12 col-lg-2">
        <br>
        <!-- sidebar -->
        {% include sidebar.html %}
      </div>
    </div>
  </div>
  <br>
  &nbsp;
  <br>

</body>
</html>
