<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/styles.css">
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="description" content="{{page.content}}"> -->
    <title>{% if post.title %}{{post.title}} · {% endif %}OhioFi.com</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
<body class="text-bababa">
  {% include nav.html navclass="navtop" %}
  <br>
  <div class="container">
    <div class="card darkbg">
      <div class="card-header">
        <a class="text-white" href="{{post.url}}"><h3 class="card-title">{{page.title}}</h3></a>
      </div>
      <div class="card-body">

        <!-- <h4 >Card title</h4> -->
        <p class="card-text">{{page.content}}</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
  </div>
  <!-- <div class="jumbotron darkbg">
    <h3>{{page.title}}</h3>
  </div>
  <div class="container">

    {{page.content}}
  </div> -->
  <!-- {% include nav.html navclass="navbottom" %} -->
  <br>
  <hr width="10%">
  <br>
</body>
</html>
